
# Folders
runtime-EclipseApplication/


*.log

# java compile files
*.class
*target/

# Package Files 
*.jar
*.war
*.ear

# IntelliJ Idea
*.idea/
*.iml

# Eclipse hell
*/eclipse/*
.settings
.metadata


