
# Folders
runtime-EclipseApplication/


*.log

# java compile files
*.class
*target/

# Package Files 
*.jar
*.war
*.ear

# IntelliJ Idea
*.iml
*.iws
*.ipr
*.idea/

# Eclipse hell
*/eclipse/*
.settings
.metadata

# subjects and projects that have their own repository.
master/
